/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4caf50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.main-image {
  float: right;
  margin-right: 20%;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #555;
  color: white;
}

.text {
  font-size: 26px;
  width: 40%;
  margin-left: 10%;
  margin-top: 5%;
}

.logo-div {
  float: left;
  margin-left: 15%;
  margin-top: 5%;
}
